<app-header />

<main>
  <div class="search-box">
    <form (ngSubmit)="onSubmit()">
      <p>
        <input type="text" id="title" name="title" placeholder="Enter search title" [(ngModel)]="enteredTitle" />
      </p>
      <button type="submit">Search</button>
      @if(totalNumberOSearchResults)
      {
      <div className='paginations-div-class'>
        @if(pageIndex > 1)
        {
        <button type="button" (click)="onPreviousPage()">Previous</button>
        }
        @if(pageIndex < totalNumberOfPages)
        {
        <button type="button" (click)="onNextPage()">Next</button>
        }
      </div>
      }
    </form>
    @if(totalNumberOSearchResults)
    {
    <p><b>Number of search results: </b>{{totalNumberOSearchResults}}</p>
    }
  </div>
  @if(movies)
  {
  <ul id="movies" class="movie-list">
    @for (movie of movies; track movie.imdbID){
    <li class="movie-item">
      <app-movie-card [movie]="movie" />
    </li>
    }
  </ul>
  }
</main>
