.search-box {
  position: fixed;
  top: 114px;
  background-color: white;
  width: 100%;
  text-align: center;
}

.movie-list {
  margin-top: 300px;
  text-align: center;
  list-style-type: none;
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
  max-width: 1000px;
}

.movie-item {
  float: left;
  margin: 10px;
}

label {
  margin-right: 10px
}

button {
  margin: 5px;
  cursor: pointer;
  border: none;
  padding: 4px 8px;
  border-radius: 4px;
  box-shadow: 0 2px 5px black;
}

input {
  box-shadow: 0 1px 6px black;
  border-radius: 6px;
  border-style: none;
  font-size: inherit;
  padding: 5px;
}

  input:focus {
    outline: none;
  }
